.ng-cloak {
    display: none !important
}

button, input, select, label {
    font-size: 16px !important
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    color: #333;
    min-width: 244px;
}

main {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#canvas-container {
    width: 100%;
    height: calc(100% - 54px);
}


canvas {
    width: 100%;
    height: 100%;
}


#controls-container {
    box-sizing: border-box;
    /*height: 54px;*/
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px 10px;
}

.control {
    display: flex;
    align-items: center;
    gap: 6px;
}

.control label {
    font-size: 14px !important;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#radius, #speed, #time {
    width: 74px;
}

#color, #bg-color {
    width: 38px;
}

#lang {
    width: 120px;
}

.start-stop {
    width: 100px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 30px;
    margin: 0 0 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}
